/* App Window */
@define-color bg_color #1E1E20;
@define-color window_bg @bg_color;
@define-color window_border_color #FFFFFF;
@define-color prefs_background #FFFFFF;

/* Input */
@define-color selected_bg_color #494949;
@define-color selected_fg_color #FFFFFF;
@define-color input_color #FFFFFF;
@define-color caret_color darker(@input_color);

/* Result items */
@define-color item_name #AAAAAC;
@define-color item_text #7F8C8D;
@define-color item_box_selected #28282A;
@define-color item_text_selected #7F8C8D;
@define-color item_name_selected #AAAAAC;
@define-color item_shortcut_color #AAAAAC;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #AAAAAC;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
  background-color: @window_bg;
  border-width: 2px;
  border-radius: 0px;
  border-color: @window_border_color;
  padding-top: 0px; 
  padding-bottom: 0px;
}

.input {
  color: @input_color;
}

.item-box {
  border-top: 1px solid rgba(65, 65, 67, 1.0);
}

/* Selected text in input */
.input *:selected,
.input *:focus,
*:selected:focus {
  background-color: alpha (@selected_bg_color, 0.9);
  color: @selected_fg_color;
}

.item-text {
  color: @item_text;
}
.item-name {
  color: @item_name;
}

.selected.item-box {
  background-color: @item_box_selected;
  border-left: 1px solid @window_border_color;
  border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
  color: @item_text_selected;
}
.selected.item-box .item-name {
  color: @item_name_selected;
}
.item-shortcut {
  color: @item_shortcut_color;
  text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
  opacity: 1.0;
}
.prefs-btn * {
  box-shadow: none;
}
.prefs-btn:hover {
  background-color: @prefs_background;
}

.no-window-shadow {
  margin: -20px;
}
